doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.title
    block content
    script(data-main="js/main",src="js/lib/require.min.js")