body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

.topBar {
    margin: 0 auto;
    width: 85%;
}

#main {
    width: 100%;
    min-height: 550px;
}

.charDiv {
    width: 90%;
    margin: 0 auto;
}
button {
    background: rgb(174,188,191); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
    /*border-radius: 8px;*/
    width: 100px;
    height: 30px;
    -webkit-transition: opacity 0.3s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
	position: relative;

}

button.active{
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 94%, #dbdce2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(94%,#f5f6f6), color-stop(100%,#dbdce2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 94%,#dbdce2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 94%,#dbdce2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 94%,#dbdce2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 94%,#dbdce2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#dbdce2',GradientType=0 ); /* IE6-9 */
}

button:hover {
    opacity : 0.8;
}
button:focus {
    outline : none;
}

button:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	/*border-right: gray 1px solid;*/
}

button:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	/*border-left: gray 1px solid;*/
	left : -4px;
}

button:first-child.active {
    border-right: black 2px inset;
}

button:last-child.active {
    border-left: black 2px inset;
}

button span {
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 1.4em;
}
button.active span {
	color : black;
	text-shadow: lightgray 0.1em 0.1em 0.2em;
}

nav > div {
    display: inline-block;
}

nav select {
    margin-left: 20%;
    margin-top: 4px;
}

nav .chartOption {
    text-transform: uppercase;
}

legend {
    margin-left : 3em;
}

legend > div {
   display: inline-block;
   margin-right : 40px;
}

legend > div > * {
    margin-right: 1em;
}

legend .legend-block{
    width: 12px;
    height: 12px;
    display: inline-block;
}

legend .legend-title {

}

.chartContainer{
	display: inline-block;
	margin: 20px 40px;
	padding: 30px;
	border: lightgrey 1px solid;
	border-radius: 8px;
	-webkit-box-shadow: lightgrey 0.4em 0.3em;
}