<div>
    <nav class="top">
        <!--<div><span class="chartOption">{{chartOption}}</span></div>-->
        <div class="button-group sold-field-btn">
            <button class="sub-button active see-sold" data-field="sold">
                <span>Sold</span>
            </button>
            <button class="sub-button see-unsold" data-field="unsold">
                <span>Unsold</span>
            </button>
        </div>
        <select id="chart-choice">
            <option value="line">Line</option>
            <option value="bar">Bar</option>
            <option value="both">Line vs. Bar</option>
        </select>
    </nav>
</div>
