<div>
    <nav class="top">
        <div class="button-group field-btn">
            {{#fields}}
            <button class="sub-button {{#active}}active{{/active}} see-{{name}}" data-field="{{name}}">
                <span>{{name}}</span>
            </button>
            {{/fields}}
        </div>
        <select id="chart-choice">
            <option value="line">Line</option>
            <option value="bar">Bar</option>
            <option value="both">Line vs. Bar</option>
        </select>
    </nav>
</div>
